body {
	font-family: 'Roboto', sans-serif;
}
a:hover {
	color: inherit;
}

.red-background {
	background-color: red;
}

a {
	text-decoration: none;
	color: inherit;
}

.red-underlined-link:hover {
	text-decoration: underline red;
}

.text-light-grey {
	color: rgb(150, 150, 150);
}
.card {
	border: none;
}

.my-card-overlay-container {
	position: relative;
}

.my-overlay {
	top: unset;
}

.my-overlay h2 {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	background-color: rgba(255, 255, 255, 0.836);
}

.tag {
	color: red;
	padding: 0 5px;
}
.tag:hover {
	color: red;
}

.vs-rule {
	background: white;
	border: 1px double black;
	border-left: none;
	border-right: none;
	padding: 1px;
	opacity: 1;
}

.vs-rule::after {
	content: 'VS';
	display: inline-block;
	background: black;
	padding: 0 3px;
	border-radius: 50px;
	color: white;
	position: relative;
	top: -10px;
	left: calc(50% - 7px);
	font-size: 16px;
}

.separator {
	border: 2px solid;
}

.more-stories-card {
	display: block;
	margin: 10px 0;
}

.float-image-card {
	width: 95px;
	height: 95px;
	margin-right: 10px;
	float: left;
	clear: both;
}

#main-nav li a {
	color: black;
	font-weight: 900;
}

.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}

#second-cover {
	position: absolute;
	left: 70px;
	top: 20px;
}

#free-mag-img {
	min-width: 50%;
	width: 100%;
	height: auto;
	min-height: 170px;
	align-self: stretch;
	background: black url('./resources/free-newsletters.jpg') no-repeat scroll
		center center/ cover;
}
@media (max-width: 992px) {
	#banner-buttons {
		width: 40% !important;
	}
}

@media (max-width: 768px) {
	#banner-buttons {
		min-width: 55% !important;
	}
	#subscribe-btn {
		font-size: 12px !important;
	}
}

@media (max-width: 576px) {
	#subscribe-btn {
		font-size: 10px !important;
	}
	#login-link {
		margin-right: 10px !important;
	}
	#banner-buttons {
		padding-right: 0 !important;
	}
	.navbar-brand {
		margin-right: 0;
	}
}
